@charset "UTF-8";
/*
    Author  :   Süleyman Danalıoğlu
    Website :   www.suleymand.com
    Mail    :   mail@suleymand.com
*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  color: #2b2a2c;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #2b2a2c;
}

p {
  margin: 0px;
}

.button {
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 30px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.button:hover {
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.button-dark {
  background: #2b2a2c;
  color: #fff;
}

.button-dark:hover {
  background: none;
  color: #2b2a2c;
}

.button-light {
  background: #fff;
  color: #2b2a2c;
}

.button-light:hover {
  background: #2b2a2c;
  color: #fff;
}

/* === Header === */
.Header {
  margin-top: 20px;
}

.Header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .logo img {
  border-radius: 50%;
  height: 96px;
  margin-right: 20px;
}

.Header .logo span {
  display: block;
  margin: 5px 0px;
}

.Header .logo span.name {
  font-size: 16px;
  font-weight: bold;
  padding-right: 30px;
}

.Header .logo span.job-title {
  font-size: 12px;
}

.Header .toggle-navigation {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Header .toggle-navigation .line {
  display: block;
  width: 20px;
  height: 3px;
  background: #2b2a2c;
  margin-bottom: 5px;
  position: relative;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.Header .toggle-navigation.active .line-3 {
  display: none;
}

.Header .toggle-navigation.active .line-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.Header .toggle-navigation.active .line-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 4px;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.Header .navigation {
  height: 100%;
}

.Header .navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.Header .navigation nav a {
  font-weight: bold;
  color: #2b2a2c;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 20px;
  display: block;
}

.Header .navigation nav a:after {
  content: "";
  height: 3px;
  width: 0%;
  display: block;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.Header .navigation nav a.active:after, .Header .navigation nav a:hover:after {
  background-color: #2b2a2c;
  width: 100%;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.Header .navigation nav a.btn-hire-me {
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  padding: 5px 30px;
  margin-left: 20px;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.Header .navigation nav a.btn-hire-me:after {
  display: none;
}

.Header .navigation nav a.btn-hire-me:hover {
  background: #2b2a2c;
  color: #fff;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

/* === Hero === */
.Hero .Hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.Hero .Hero__info .socials a {
  color: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
}

.Hero .Hero__info .socials a.behance {
  background-color: #1869ff;
}

.Hero .Hero__info .socials a.dribbble {
  background-color: #e51a68;
}

.Hero .Hero__info .socials a.linkedin {
  background-color: #007bb6;
}

.Hero .Hero__info .socials a.facebook {
  background-color: #3a5898;
}

@media only screen and (max-width: 768px) {
  .Header {
    margin-top: 0px;
    background: #2b2a2c;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .Header .logo {
    color: #fff;
  }
  .Header .logo img {
    border-radius: 50%;
    width: 23%;
    margin-right: 20px;
    padding: 10px;
    height: auto;
  }
  .Header .toggle-navigation .line {
    background: #fff;
  }
  .Header .navigation {
    opacity: 0;
    height: auto;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 83px;
    background: #2b2a2c;
    z-index: 12;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }
  .Header .navigation.active {
    display: block;
    opacity: .9;
    -webkit-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
  }
  .Header .navigation nav {
    display: block;
  }
  .Header .navigation nav a, .Header .navigation nav .btn-hire-me {
    color: #fff;
    margin-left: 0px !important;
    padding-left: 30px !important;
  }
  .Hero__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .Hero__info .name {
    text-align: center;
  }
  .Hero__image {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .button {
    padding: 3px 15px;
  }
  .Hero__info .socials a {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 16px !important;
  }
}
