
body {
    font-family: $mainFont;
    font-size:14px;
}
a {
    color : $primaryColor;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color : $primaryColor;
    }
}
p {
    margin : 0px;
}

.button {
    border : 2px solid $primaryColor;
    border-radius : 20px;
    display : inline-block;
    padding : 5px 30px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    @include transition(ease-out,.2s);
    &:hover {
        @include transition(ease-in,.2s);
    }
}
.button-dark {
    background : $primaryColor;
    color : #fff;
    &:hover {
        background: none;
        color : $primaryColor;
    }
}
.button-light {
    background : #fff;
    color : $primaryColor;
    &:hover {
        background: $primaryColor;
        color : #fff;
    }
}