/*
    Author  :   Süleyman Danalıoğlu
    Website :   www.suleymand.com
    Mail    :   mail@suleymand.com
*/



// Import files
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'general';


/* === Header === */

.Header {
    margin-top: 20px;
    .container {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: center;
        img {
            border-radius: 50%;
            height: 96px;
            margin-right:20px;
        }
        span {
            display:block;
            margin : 5px 0px;
            &.name {
                font-size:16px;
                font-weight:bold; 
                padding-right:30px;
            }
            &.job-title {
                font-size:12px;
            }
        }
    }
    .toggle-navigation {
        width:30px;
        height: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .line {
            display: block;
            width:20px;
            height: 3px;
            background : $primaryColor;
            margin-bottom : 5px;
            position: relative;
            @include transition(ease-out,.2s);
        }
        &.active .line-3 {
            display:none;
        }
        &.active .line-1 {
            transform : rotate(45deg);   
            top : 4px;
            @include transition(ease-in,.2s);            
        }
        &.active .line-2 {
            transform : rotate(-45deg);
            bottom : 4px;
            @include transition(ease-in,.2s);
        }
    }
    .navigation {
        height:100%;
        nav {
            display:flex;
            align-items:center;
            justify-content: flex-end;
            height:100%;
            a {
                font-weight:bold;
                color : $primaryColor;
                font-size:16px;
                text-transform: uppercase;
                padding : 5px 20px;
                display:block;
                &:after {
                    content: "";
                    height:3px;
                    width:0%;
                    display : block;
                    @include transition(ease-out,.2s);
                }
                &.active:after,&:hover:after {
                    background-color : $primaryColor;
                    width:100%;
                    @include transition(ease-in,.2s);
                }
                &.btn-hire-me {
                    border: 2px solid $primaryColor;
                    border-radius : 20px;
                    padding : 5px 30px;
                    margin-left: 20px;
                    @include transition(ease-out,.2s);
                    &:after {
                        display:none
                    }
                    &:hover {
                        background : $primaryColor;
                        color :#fff;
                        @include transition(ease-in,.2s);
                    }
                }
            }
        }
    }
}

/* === Hero === */

.Hero {
    .Hero__info {
        display:flex;
        justify-content : center;
        flex-direction: column;
        height : 100%;
        .socials {
            a {
                color: #fff;
                display: inline-block;
                box-sizing: border-box;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                font-size: 20px;
                margin-right: 10px;
                &.behance  { background-color : #1869ff }
                &.dribbble { background-color : #e51a68 }
                &.linkedin { background-color : #007bb6 }
                &.facebook { background-color : #3a5898 }
            }
        }
    }
}







// === TABLET ===

@media only screen and (max-width: 768px) {
    // Header
    .Header {
        margin-top: 0px;
        background : $primaryColor;
        position:fixed;
        width:100%;
        z-index: 10;
        .logo {
            color : #fff;
            img {
                border-radius: 50%;
                width: 23%;
                margin-right: 20px;
                padding: 10px;
                height : auto;
            }
        }
        .toggle-navigation {
            .line {
                background : #fff;
            }
        }
        .navigation {
            opacity:0;
            height:auto;
            overflow: hidden;
            position:fixed;
            width:100%;
            left:0;
            top:83px;
            background:$primaryColor;
            z-index: 12;
            @include transition(ease-out,.2s);
            &.active {
                display:block;
                opacity: .9;
                @include transition(ease-in,.2s);
            }
            nav {
                display:block;
                a,.btn-hire-me {
                    color : #fff;
                    margin-left:0px !important;
                    padding-left:30px !important;
                }
            }
        }
    }
    // Hero
    .Hero__info {
        align-items: center;
        margin-top:3rem;
        margin-bottom : 3rem;
        .name {
            text-align:center;
        }
    }
    .Hero__image {
        margin-top:2rem;
    }
}

// === iPhone 5S Portrait
@media only screen and (max-width:320px) {
    .button {
        padding : 3px 15px;
    }
    .Hero__info .socials a {
        width:30px !important;
        height:30px !important;
        line-height: 30px !important;
        font-size:16px !important;
    }
}